$Primaire: #9356DC;
$Secondaire: #FF79DA;
$Ternaire: #99E2D0;

#index{
    header{
        text-align: center;
        h1{
            padding: 22px 0;
            position: relative;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        }
        #geoloc{
            color: #363636;
            background-color: #ebebeb;
            padding: 15px 0;
        }
        & div:nth-child(3) {
            h2, p{
                padding: 10px 40px;
            }
            background-color: #f7f7f7;
            button{
                display: block;
                color: white;
                background: linear-gradient($Secondaire, $Primaire);
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
                cursor: pointer;
                border-radius: 50px;
                border: none;
                height: 50px;
                padding: 16px 20px 24px 20px;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
                font-size: medium;
            }
            padding-bottom: 57px;
            margin-bottom: 45px;
        }
    }
    main{
        display: flex;
        @media screen and (max-width:800px) {
            &{
                flex-direction: column;
            }
        }
        @media screen and (min-width:800px) {
            &{
                justify-self: center;
                flex-direction: row;
                padding: 0 20px;
                margin: 0 auto;
            }
            & #fonctionnement{
                margin-top: 37px;
                height: 300px;
            }
            & #restaurants{
                padding: 20px 20px !important;
                border-radius: 30px;
                margin: 1em 1em 3em 1em;
                width: auto;
                .resto-wrapper{
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    gap: 0 1em;
                    article{
                        min-width: 300px;
                        max-width: 400px;
                        margin: 1em auto !important;
                    }
                }
            }
        }
        width: auto;
        max-width: 1300px;
        margin: 0 auto;
        #fonctionnement{
            display: flex;
            padding: 0 20px;
            flex-direction: column;
            min-width: 300px;
            height: auto;
            h2{
                margin-bottom: 34px;
            }
            div {
                display: flex;
                align-items: center;
                cursor: default;
                min-height: 72px;
                background-color: #f7f7f7;
                border-radius: 17px;
                padding-left: 35px;
                margin-bottom: 25px;
                box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 20%);
                &:hover{
                    transition: 0.2s;
                    background-color: #f6eeff;
                    span:nth-child(2) i{
                        color: #9355de;
                    }
                }
                span{
                    &:nth-child(1){
                        display: inline-block;
                        position: absolute;
                        width: 20px;
                        height: 20px;
                        text-align: center;
                        border-radius: 50%;
                        color: white;
                        background-color: $Primaire;
                        margin-left: -45px;
                    }
                    &:nth-child(2){
                        display: flex;
                        color: black;
                        i{
                            height: 16px;
                            margin: auto;
                            margin-right: 20px;
                            color: #7f7f7f;
                        }
                    }
                }
            }
        }
        #restaurants{
            padding: 60px 20px;
            background-color: #f7f7f7;
            article{
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 400px;
                height: 251px;
                border-radius: 15px;
                background-color: white;
                margin: 2em auto;
                box-shadow: rgba(0, 0, 0, 0.082) 0px 2px 5px;
                .new{
                    align-self: flex-end;
                    position: absolute;
                    margin: 13px 11px;
                    color: #038866;
                    background-color: #9ae3d1;
                    padding: 10px 12px;
                }
                .wrapper{
                    height: 174px;
                    max-width: 100%;
                    overflow: hidden;
                    img{
                        object-fit: contain;
                        width: 100%;
                        border-radius: 15px;
                    }
                }
                .restaurants-card{
                    display: flex;
                    justify-content: space-between;
                    padding: 17px 12px;
                    .restaurants-item{
                        display: flex;
                        flex-direction: column;
                        align-content: space-between;
                        color: black;
                    }
                }
            }
        }
    }
}