$Primaire: #9356DC;
$Secondaire: #FF79DA;
$Ternaire: #99E2D0;

.restaurant{
    header{
        text-align: center;
        h1{
            margin: 22px 0;
        }
        a{
            display: flex;
            color: #363636;
            float: left;
            align-items: center;
            height: 46.4px;
            margin-left: 23px;
            &:hover{
                transition: 0.5s;
                color: black;
            }
        }
    }
    main{
        img{
            z-index: -1;
            display: block;
            position: relative;
            width: 100%;
            height: 258px;
            object-fit: cover;
        }
        article{
            padding: 0 14px;
            background-color: #f7f7f7;
            text-align: left;
            margin-top: -38px;
            border-radius: 38px 38px 0 0;
            width: auto;
            h1{
                padding-top: 30px;
                padding-left: 5px;
                input{
                    margin-right: 25px;
                }
            }
            div{
                width: 100%;
                max-width: 1300px;
                overflow: hidden;
                section{
                    max-width: 600px;
                    & > p{
                        text-transform: uppercase;
                        margin-top: 30px;
                        margin-left: 6px;
                        padding-bottom: 2px;
                        &::after{
                            content: "";
                            display: block;
                            background-color: #9ae3d1;
                            width: 40px;
                            height: 3px;
                            transform: translateY(2px);
                        }
                    }
                    .menu__card{
                        display: flex;
                        flex-wrap: nowrap;
                        cursor: pointer;
                        background-color: white;
                        overflow-x: hidden;
                        border-radius: 14px;
                        max-height: 70px;
                        margin-top: 14px;
                        box-shadow: 0 5px 10px rgba($color: #000000, $alpha: 20%);
                        .menu__item{
                            display: flex;
                            flex-wrap: nowrap;
                            justify-content: space-between;
                            padding: 15px 10px;
                            background-color: white;
                            border-radius: 14px;
                            width: 100%;
                            div {
                                background-color: white;
                                .menu__title{
                                    font-weight: bold;
                                }
                                p{
                                    text-overflow: ellipsis;
                                    overflow: hidden;
                                    white-space: nowrap;
                                }
                            }
                            .price{
                                display: flex;
                                align-items: flex-end;
                            }
                        }
                        .animated__check{
                            transition: 0.25s;
                            display: flex;
                            font-size: 20px;
                            color: white;
                            overflow-x: hidden;
                            background-color: #9ae3d1;
                            width: 0;
                            height: 69px;
                            i{
                                transition: 0.25s;
                                margin: auto;
                                transform: rotate(0deg);
                            }
                        }
                        &:hover{
                            .animated__check{
                                color: white;
                                transition: 0.5s;
                                width: 59px;
                                i{
                                    transition: 0.5s;
                                    transform: rotate(360deg);
                                }
                            }
                        }
                    }
                }
                @for $j from 1 to 4{
                    section:nth-child(#{$j}){
                        @for $i from 2 to 6 {
                            .menu-card:nth-child(#{$i}){
                                opacity: 0;
                                animation: menu-anim 0.5s forwards;
                                animation-delay: 0.25s * ($i+$j*3);
                            }
                        }
                    }
                }
                @keyframes menu-anim {
                    0%{
                        opacity: 0;
                        transform: translateY(5px);
                    }
                    100%{
                        opacity: 100%;
                    }
                }
            }
        }
        .button-wrapper{
            background-color: #f7f7f7;
            padding: 46px 0 58px 0;
            button{
                display: block;
                color: white;
                background: linear-gradient($Secondaire, $Primaire);
                box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 10px;
                cursor: pointer;
                border-radius: 50px;
                border: none;
                height: 50px;
                padding: 0 50px;
                margin: 0 auto;
            }
        }
    }
    @media screen and (min-width: 600px) {
        article {
            h1{
                width: 100%;
                max-width: 1300px;
                margin: 0 auto;
            }
            div:nth-child(2){
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                width: auto;
                max-width: 1300px;
                margin: 0 auto;
                section{
                    width: auto;
                    min-width: 600px;
                }
            }
        }
    }
}