@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import "./index";
@import "./restaurant";

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
    a{
        text-decoration: none;
    }
    body *{
        overflow-y: hidden;
    }
}
.shrikhand{
    font-family: 'Shrikhand', cursive;
}

.checkbox{
    input{
        //display: none;
    }
    label{
        justify-content: center;
        width: 23px;
        height: 23px;
        float: right;
        color: white;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        i{
            width: 23px;
            height: 23px;
        }
    }
    & input:checked{
        color: red;
        label i{
            color: red;
            background-clip: text;
            background: linear-gradient(purple, orange);
        }
    }
}

footer{
    display: flex;
    background-color: #363636;
    margin: 0 auto;
    padding: 0 25px 20px 25px;
    color: white;
    .wrapper{
        display: flex;
        flex-direction: column;
        p{
            margin: 20px 0;
        }
        a{
            color: white;
            &:hover{
                color: grey;
            }
            i{
                width: 1.2em;
                margin-right: .5em;
            }
        }
    }
}

#loading{
    display: flex;
    position: fixed;
    background-color: white;
    top: 0;
    width: 100%;
    height: 0%;
    animation: loading 3s;
    *:first-child{
        margin: auto;
        background-image: linear-gradient(to left,red, orange, yellow, green, blue, indigo, purple,red, orange, yellow, green, blue, indigo, purple,red, orange, yellow, green, blue, indigo, purple,red, orange, yellow, green, blue, indigo, purple);
        background-clip: text;
        color: transparent;
        background-size: 600%;
        font-size: 3.5em;
        animation: rainbowText 5s linear infinite;
    }
}

@keyframes loading {
    0%{
        height: 100%;
    }
    99%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}

@keyframes rainbowText {
    to{
        background-position: 0%;
    }
    from{
        background-position: 100%;
    }
}
